@mixin base-btn {
	cursor: pointer;
	height: 42px;
	font-family: "Sansita Swashed", cursive;
	font-size: 0.75em;
	font-weight: 500;
	border: 1px solid transparent;
	transition: all 1s ease-in-out;
	background-color: slategray;
	color: lime;

	&:active,
	&:focus {
		outline: none;
	}

	&:hover {
		background-color: navy;
	}
}

@mixin form-inputs {
	input {
		font-family: "Texturina", serif;
		color: navy;
		padding: 5px 0px;
		background-color: transparent;
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;
		border-bottom: 1px solid darkmagenta;
		width: 100%; //calc(100vw - 30vw);
		transition: 0.5s all ease-in-out;
		font-size: 1.1em;
		margin-bottom: 21px;

		&:focus {
			outline: none;
			border-bottom: 1px solid blue;
		}
	}
}

.one-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 21px;
}

.two-column {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 21px;
}
