.manager-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	width: calc(100vw - 15px);
	height: calc(100vh - 84px);

	.left-side {
		background-color: lightblue;
	}

	.right-side {
		background-color: rgb(42, 36, 81);
	}
}

// SideBar Items/Area

.sidebar-wrapper {
	.sidebar-items {
		padding: 22px;
		.sidebar-bgimg {
			img {
				width: 22vw;
				height: 50vh;
			}
		}
		.text-icon {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 2.5px;
			.title {
				color: lime;
				font-size: 1.45em;
			}

			a {
				color: lime;
				font-size: 1.35em;
				transition: 0.5s ease-in-out;

				&:hover {
					color: red;
					font-size: 1.5em;
				}
			}
		}
	}
}
