.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding: 1.5em;
	width: calc(100vw - 2.5vw);
	margin: 0px;

	.left-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.15em;
		font-weight: 600;
	}

	.middle-wrapper {
		display: flex;
		// justify-content: space-evenly;
		align-items: center;
		gap: 5px;
		width: 15vw;

		.nav-link {
			font-family: "Sansita Swashed", cursive;
			font-size: 1.15em;
			height: 25px;
			border-bottom: 1px solid transparent;

			a {
				color: black;
				transition: 0.5s ease-in-out;
				text-decoration: none;

				&:hover {
					color: lime;
					border-bottom: 1px solid lime;
					font-size: 1.25em;
					background-color: slategray;
					border-radius: 5px;
				}
			}
			.active {
				color: lime;
				border-bottom: 1px solid lime;
				font-size: 1.25em;
				background-color: slategray;
				border-radius: 5px;
			}
		}
	}

	.right-wrapper {
		display: flex;
		justify-content: flex-end;
		font-size: 1.35em;
		font-family: "Sansita Swashed", cursive; //"Sail", cursive;
	}
}
